[submodule "third_party/jsoncpp/source/include"]
	path = third_party/jsoncpp/source/include
	url = git@github.com:otcshare/jsoncpp_include.git
[submodule "third_party/jsoncpp/source/src/lib_json"]
	path = third_party/jsoncpp/source/src/lib_json
	url = git@github.com:otcshare/lib_json.git
[submodule "googleurl"]
    path = googleurl
    url = https://chromium.googlesource.com/external/google-url.git
[submodule "third_party/lss"]
	path = third_party/lss
	url = https://chromium.googlesource.com/external/linux-syscall-support/lss.git
[submodule "sandbox/linux/seccomp-legacy"]
	path = sandbox/linux/seccomp-legacy
	url = https://chromium.googlesource.com/external/seccompsandbox.git
