[submodule "third_party/jsoncpp/source/include"]
	path = third_party/jsoncpp/source/include
	url = https://chromium.googlesource.com/external/jsoncpp/jsoncpp/include.git
[submodule "third_party/jsoncpp/source/src/lib_json"]
	path = third_party/jsoncpp/source/src/lib_json
	url = https://chromium.googlesource.com/external/jsoncpp/jsoncpp/src/lib_json.git
[submodule "googleurl"]
    path = googleurl
    url = https://chromium.googlesource.com/external/google-url.git
[submodule "third_party/lss"]
	path = third_party/lss
	url = https://chromium.googlesource.com/external/linux-syscall-support/lss.git
[submodule "sandbox/linux/seccomp-legacy"]
	path = sandbox/linux/seccomp-legacy
	url = https://chromium.googlesource.com/external/seccompsandbox.git
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://chromium.googlesource.com/external/gyp.git
[submodule "native_client"]
	path = native_client
	url = git@github.com:nacl-webkit/native_client.git
